mat-toolbar{
    background-color: hotpink;
    color: white;
    margin: 0;
    padding: 0;
}
mat-sidenav{
    width: 200px;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
mat-sidenav-container{
    height: calc(100vh - 68px);
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: gray;
}
